
div.view.view-t-pakkumised.view-id-t_pakkumised .view-content .views-row{
  border-top: 2px solid #e2e2e2;
  border-left: 2px solid #e2e2e2;
  border-right: 2px solid #e2e2e2;
  padding: 10px;
  padding-top: 2px;
  position: relative; 
}

div.view.view-t-pakkumised .views-row.views-row-1.views-row-odd.views-row-first{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.view.view-t-pakkumised.view-id-t_pakkumised .views-row-last{
  border-bottom: 2px solid #e2e2e2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}



div.view.view-t-pakkumised .views-field.views-field-title{
max-width: 300px;
}
span.field-content a{
  color: #1982d1;
}
div.view.view-t-pakkumised .views-field.views-field-field-application-submission{ 
max-width: 300px;
}

div.view-id-t_pakkumised .views-field.views-field-field-email-workoffer{
  max-width: 230px;
  height: 40px;
  text-align: left !important;
  position: absolute;
  top: 10px;
  right: 10px;
 
}
div.view.view-t-pakkumised span.views-label.views-label-field-email-workoffer{
  background: url('close-envelope.png') no-repeat;
  max-width: 30px;
  width: 30px;
  height: 20px;
  padding-left: 20px;
  padding-top: 0px;
  position: relative;
  top: 10px;
  right: 10px;
}
div.view.view-t-pakkumised .views-field.views-field-field-email-workoffer .field-content{
  max-width: 300px;
  position: relative;
  padding-left: 55px;
  top: -13px;
}



div.view.view-t-pakkumised .views-field.views-field-title{
 
  text-transform: uppercase;
  font-size: 150% !important;
  font-weight: bold !important;
}

div.view.view-t-pakkumised .views-field.views-field-field-application-submission{
  max-width: 500px;
position: relative;
top: -7px;
}
div.view.view-t-pakkumised .views-field.views-field-field-application-submission .field-content {
  position: absolute;
  top: 0px;
  left: 200px;
  }



div.view.view-t-pakkumised .content .field {
  margin-bottom: 10px;

}

div.view.view-t-pakkumised .field.field-name-field-our-offer.field-type-text-long.field-label-above .field-items{
  padding-bottom: 10px;
  border-bottom: 2px solid #e2e2e2;
}

@media screen and (max-width: 767px)  {
  div.view.view-t-pakkumised .views-field.views-field-field-email-workoffer{
    position: relative;
    padding-left: initial;
    text-align: left !important;
    margin-bottom: 20px;

   
  }
  div.view.view-t-pakkumised span.views-label.views-label-field-email-workoffer{
    
    background: url('close-envelope.png') no-repeat;
    
    padding-top: 2px;
    padding-left: 20px !important;
    margin-left: 15px;
 
  }
  div.view.view-t-pakkumised .views-field.views-field-field-email-workoffer .field-content{
    margin-top: 3px;
  padding-bottom: initial;
  padding-left: initial;
  padding-right: 10px;
  top: initial;
  margin-left: 5px;

    
  }

  div.view.view-t-pakkumised .views-field.views-field-field-application-submission{
    max-width: 500px;
  position: relative;
  top: -7px;
  margin-left: -4px !important;
  }
}